@import url(https://fonts.googleapis.com/css?family=Varela+Round);
@import url(https://fonts.googleapis.com/css?family=Nova+Square);

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Disable text selection so buttons aren't highlighted when rapidly clicked */
  height:80%;
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
  background-color: #222222;
  margin-bottom: 120px;
  /* margin bottom by footer height */
}
.home-content {
  margin-top: 1em;
  min-width: 320px;
  max-width: 520px;
}
p {
  color: white;
  margin: 0;
  font-family: 'Varela Round', sans-serif;
}
.intro-title {
  font-size: 3.5em;
  color: white;
  font-family: 'Varela Round', sans-serif;
}
.progress {
  width: 50%;
}
.progress-bar {
  text-align: left;
  color: black;
  font-weight: bold;
}
.clock-time {
  font-family: 'Nova Square', sans-serif;
  font-size: 5em;
  color: white;
}
.play-reset-row {
  font-size: 2em;
  margin-bottom: 1em;
}
#sessionCount {
  color: white;
  font-size: 2em;
}
.time-adjustment-row {
  white-space: nowrap;
}
.task-time-display,
.break-time-display {
  font-size: 2em;
  color: white;
  font-family: 'Nova Square', sans-serif;
}
.settings p {
  text-align: left;
  margin: 4em 0 0 0;
}
.checkbox p {
  text-align: left;
  margin: 0 0 .5em 0;
}
/* Show link pointer so users know icons are clickable */
.icon {
  cursor: pointer;
}
.icon:active {
  transition: .1s;
  transform: scale(1.1);
  opacity: 1;
  position: relative;
  z-index: 99;
}
/* footer formatting */
.footer {
  font-face: arial;
  background-color: #222222;
  font-size: 12px;
  position: absolute;
  border-top: 1px solid black;
  bottom: 0;
  width: 100%;
  min-width: 320px;
  padding: 1em 1em 0 1em;
}
.footer-logos {
  margin-top: -1em;
  font-size: 14px;
}
.footer-logos a {
  text-decoration: none;
}
.footer-logos i {
  text-align: center;
  color: #777777;
  margin: 0 0 1em 1em;
  padding-top: .25em;
  border: 1px solid rgba(100, 100, 100, .3);
  border-radius: 25%;
  vertical-align: -1.5em;
}
.footer-logos .genericon {
  width: 1.6em;
  height: 1.6em;
}
.footer-logos .fa {
  width: 1.75em;
  height: 1.75em;  
}
.footer .container-fluid {
  max-width: 480px;
}
